# IBM DATA SCIENCE

## Capstone Project

###### Hello, 

 *Welcome to my notebook, I will use this notebook to work on the applied data science capstone project.*

**Introduction**

<p1> The annual statistics report published by the Department of Motor Vehicles (DMV) in New York State revealed that there are 11,351,388 active vehicles registered as of 2018 (<https://dmv.ny.gov/statistic/2018reginforce-web.pdf>). Whereas, the 2018 United States Census Bureau reported New York City population of 8.399 million (<https://www.census.gov/quickfacts/newyorkcitynewyork>). As per the findings, it is safe to determine that New York City is one of the most dense cities in the US with a great number of drivers ranging from young to old. 
<p>Among the various driving population within NYC, one important group of drivers is of the NYPD (New York City Police Department). NYPD is always on the streets and they often have a good reason to speed and bend few DMV rules to maintain order. The purpose of this study is to examine the data of NYPD accidents. By using various algorithims, a determination can be made to show the severity of the accidents and its causation.

**Data**

The Data used in this study is obtained from Kaggle. This data reports NYPD accidents from years 2012-2017. 
<p>For example, if I use the "number of person killed" by "Location", there will be a good insight to recognize in which places do the most severe accidents occur. And which borough is the least accident prone.

In [24]:
#Libraries

import pandas as pd
import numpy as np

In [16]:
#Data

nypd= pd.read_csv("NYPD_Motor_Vehicle_Collisions.csv")

/Users/COLLEGE/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
#Data Observation
nypd.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,08/04/2017,0:00,QUEENS,11436,40.666885,-73.790405,"(40.666885, -73.790405)",NORTH CONDUIT AVENUE,149 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3725017,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1,08/04/2017,0:00,NaN,NaN,40.719950,-74.008590,"(40.71995, -74.00859)",HUDSON STREET,NaN,NaN,...,Unsafe Lane Changing,NaN,NaN,NaN,3725047,PICK-UP TRUCK,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
2,08/04/2017,0:00,NaN,NaN,40.718666,-73.963500,"(40.718666, -73.9635)",KENT AVENUE,NaN,NaN,...,Following Too Closely,NaN,NaN,NaN,3725533,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
3,08/04/2017,0:00,NaN,NaN,40.754677,-73.975815,"(40.754677, -73.975815)",PARK AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3724870,SPORT UTILITY / STATION WAGON,TAXI,NaN,NaN,NaN
4,08/04/2017,0:00,NaN,NaN,40.818314,-73.836000,"(40.818314, -73.836)",NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3725662,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN

In [19]:
nypd.shape

(1089265, 29)

In [20]:
nypd.columns

Index(['DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'UNIQUE KEY', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')

In [27]:
nypd['DATE'].unique()

array(['08/04/2017', '07/20/2017', '08/03/2017', ..., '07/04/2012',
       '07/02/2012', '07/01/2012'], dtype=object)